html,
body {
  width: 100%;
  height: 100vh;
  max-height: 400px;
  max-width: 600px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background:  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url("https://a-static.projektn.sk/2017/07/TBEN6292-3.jpg");
  background-clip: content-box;
  background-size: 350%;
  background-position: 50%;
}


.app {
  width: 100%;
  height: 100vh;
  color: white;
}



.btn-back {
  color: white;
  font-size: 22px;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  cursor: pointer;
}

.intro-wrapper {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;

}

.district-box {
  margin: 2%;
  border-radius: 6px;
  color: white;
}


.title-title {
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;

  border-radius: 6px;
  font-size: 22px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.intro-title-text {
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  padding: 2%;
}

.main-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 75% 25%;
}

.main-box {
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;
  margin: 2%;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 15% 85%;
}
.question-count-box {
  margin-top: 5%;
  margin-bottom: 4%;
  width: 100%;
  font-size: 18px;
  height: 50%;;

}

.question-count {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.dropdown {
  color: white;
  display: block;
  width: 80%;
  margin-top: 9%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  background: #832232;
  border-color: #832232;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 0 3pt 2pt #832232;

}

.dropdown:focus {
  border-color: #832232;
  box-shadow: 0 0 3pt 2pt #832232;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown.content:focus {
  border-color: #832232;
  box-shadow: 0 0 3pt 2pt #832232;
}

.dropdown-content {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  background: #272727;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  color: white;
}
.btn-box {
  width: 80%;
  margin: 10%;
}
.btn-start {
  display: block;
  background: #832232;
  font-size: 18px;
  text-align: center;
  width: 50%;
  margin-left: 22.5%;
  margin-right: 22.5%;
  padding: 2%;
  border-radius: 6px;
  cursor: pointer;
}

.btn-start:hover {

  background: #832232;
}


.text-box {
  width: 80%;
  height: 80%;
  margin: 10%;
  font-size: 26px;
  word-wrap: break-word;
  text-align: left;
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;

}

.progress-box {
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  height: 90%;
  display: inline-block;
}

.circle {
  float: left;
  margin-left: 5px;
  width: 5px;
  height: 5px;
  border: solid 0.8px;
  border-radius: 50%;
  border-color: white;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.dash {
  font-size: 5px;
  text-align: center;
}

.full {
  background: white;
}


.buttons-box {
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 25% 25% 25%;
  grid-row-gap: 8%;
}

.btn {
  display: block;
  background: #c32640;
  font-size: 18px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  border-radius: 6px;
  cursor: pointer;
  
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

@media (min-width: 400px) {
 
.btn {
  display: block;
  background: #c32640;
  font-size: 18px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  border-radius: 6px;
  cursor: pointer;
  
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
}
.btn:hover {
  background: maroon;
}

.all-questions-wrapper{
  background: #272727;
  display: grid;
  grid-auto-rows: auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
}


.all-question-title {
  text-shadow: rgb(17, 17, 17) 2px 2px 10px;
  font-size: 26px;
  padding: 2%;
}
.all-questions-btn-box {
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2.5%;
  text-align: center;
  font-size: 24px;
}

.all-questions-btn-box:hover {
  background: maroon;
}

.btn-continue {
  background: #832232;
  padding: 2%;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  color: white;
}


.all-questions-box{
  background: #131519;
  height: auto;
  display: grid;
  grid-auto-rows: auto;
  padding: 2%;
  color: white;
  font-size: 22px;
}

.all-questions-header{
  display: grid;
  grid-template-columns: 80% 20%;
}
.container input {
  display: none;
}
.all-questions-row {
  display: grid;
  grid-template-columns: 80% 20%;
  border: dashed 0.5px rgba(160, 159, 159, 0.363);
}
.all-questions-answer-box {
  -ms-grid-row-align: center;
 -ms-grid-column-align: center;
 -webkit-align-items: center;
    -webkit-box-align: center;
    text-align: center;
    align-items: center;
}

p .all-questions-answer {
  margin: 0;
}
input[type="radio"] {
  display: none;
}

.checkmark:after {
  content: "";
  position: absolute;
}

.questions-label {
  padding: 5%;
}
.questions-label-selected {
  box-shadow: 0 0 3pt 2pt #a1273c;
}

input[type="radio"] {
  padding: 2%;
  font-size: 20px;
}


.results-box {
  background: rgb(43, 37, 37);
  top: 0;
  width: 100%;
}

.results {
  padding: 0;
  margin-top: 0;
  margin-left: 4%;
  margin-right: 4%;
  background: rgb(43, 37, 37);
  font-size: 20px;
  word-wrap: break-word;
  display:grid;
  grid-auto-rows: auto;
  grid-row-gap: 1%;
}

.ul-results {
  margin: 4%;

}
.results-sum-box {
  width: 100%;
}
.results-name {
  float: left;
  color: white;
  margin: 0;
}
.results-sum {
  width: 100%;
  margin: 0;
  text-align: right;
  font-size: 32px;
}
.results-row {
  display: grid;
  height: 100%;
  grid-template-columns: 30% 70%;
  cursor: pointer;
  border-bottom: dashed 0.5px rgba(124, 124, 124, 0.336);
}

.results-row-header {
  display: grid;
  font-size: 20px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background: rgb(15, 15, 15);
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
.results-name-box-name {
  padding: 4%;
  display: grid;
  grid-template-rows: 40% 60%;
}

.results-name-box {
  padding: 4%;
  display: inline-block;
}

.thumb-icon {
  margin-left: 3%;
  float: left;
  position: relative;
  color: rgb(13, 179, 13);
  font-size: 13px;
}
.thumb-icon-expand {
  margin-left: 15%;
  margin-top: 15%;
  position: relative;
  color: rgb(13, 179, 13);
  font-size: 13px;

}
.thumb-icon-select {
  margin-top: 15%;
  position: relative;
  color: rgb(13, 179, 13);
  font-size: 30px;

}
.results-row:hover {
  background: crimson;
}

.light-preference {
  border-radius: 4px;
  box-shadow: 0 0 1pt 1pt #f07676;

}
.middle-preference {
  border-radius: 4px;
  box-shadow: 0 0 1pt 1pt #c91e1e;
}
.strong-preference {
  border-radius: 4px;
  box-shadow: 0 0 1pt 1pt #80091d;
}
.results-text {
  margin: 0
}

#img-wrapper {
  background-color: #d71920;
  box-shadow: 0 0 3pt 2pt #a1273c;
}

#img {
  width: 30%;
  height: 30%;
  margin-top: 1%;
  margin-left: 68%;
}
#main {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 80%;
  height: 100%;
  max-height: 500px;
  max-width: 360px;
  border-color: #090909;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
  border: solid;
  border-radius: 9px;
}

#chat_box {
  display: none;
}

#text-box {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 100%;
  max-height: 150px;
  min-height: 120px;
  width: 96%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
}


#buttons {
  text-align: center;
  margin-top: 4%;
  padding-top: 2%;
  margin-bottom: 1%;
  line-height: normal;
  background-color: #090909;
  visibility: visible;
  height: 100px;
  width: 100%;
}

#title {
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: 20px;
}

#line {
  height: 1px;
  width: 100%;
  background-color: #534b62;
}

.answer-same{
  background: green;
  color: white;
}

.answer-different{
  background: crimson;
  color: white;
}
p {
  margin: 0;
}

.results-compare-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #131519;

  top: 0;
  z-index: 100;
}
.results-compare-header {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  background: #272a30;
}

.results-compare-title {
  font-size: 24px;
  padding: 2%;
  text-align: center;
}

.results-compare-row {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
.results-compare {
  font-size: 16px;
 height: auto;
 display: grid;
 grid-template-columns: 60% 20% 20%;
 -ms-grid-row-align: center;
 -ms-grid-column-align: center;
 -webkit-align-items: center;
    -webkit-box-align: center;
 padding: 1%;
 background: black;
 border-color: black;
 text-align: center;
 align-items: center;
}

.results-questions-row {
  text-align: center;
  display: grid;
  grid-template-columns: 65% 17.5% 17.5%;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  
}

.question-box {
  display: grid;
  grid-template-columns: 85% 15%;
  padding: 5%;

}

.question {
  text-align: left;
  display: inline-block;
  position: relative;
}

.my-answer {
  padding: 5%;
  text-align: center;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
}

.candidate-answer {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  text-align: center;
  padding: 5%;

}
.shade-light {
  background: rgb(212, 212, 212);
  color: black;
}

.shade-dark {
  color: white;
  background: #272727;
}


.profile-wrapper {
  height: 90vh;
  display: grid;
  grid-template-rows: 20% 10% 60%;
  grid-row-gap: 5%;
}

.results-image {
  

  padding: 4%;
  border-radius: 50%;
  position: relative;
}

.candidate-image {
  max-width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


.results-status {
  font-size: 12px;

}
